.global-message{
    position: fixed;
    bottom: 1px;
    right: 10px;
    min-width: 500px;
    border-radius: 50px;
    color: #FFFFFF;
    z-index:2;
}

.global-message.info{
    background-color: #4586ff;
}
.global-message.error{
    background-color: #f70606;
}
