.global-message{
    position: fixed;
    bottom: 285px;
    right: 1px;
    min-width: 500px;
    border-radius: 50px;
    color: #FFFFFF;
    z-index:5;
}

.global-message.info{
    background-color: #4586ff;
}
.global-message.error{
    background-color: #f70606;
}

/*categorie style*/
.categories-col .block-21 .text{
    width:100%;
}
